<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>The Wall</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>THE WALL:</h1>
            <h3>Welcome {{session.first_name}}</h1>
            <a href="/logout">logout</a>
        </div>
        <div id="content">
            <h4>post a message:</h4>
            <form action="/posts" method='post'>
                <textarea name="post" cols="150" rows="5"></textarea>
                <input type="submit" class="post_submit" value="post">
            </form>
        </div>
        <div id="posts">
            {% for post in posts %}
                <h3>{{post.first_name}} - {{post.created_at}}</h3>
                <p>{{post.content}}</p>
                <form action="/comment" method='post'>
                    <input type="hidden" name="post_id" value={{post.post_id}} />
                    <textarea name="comment" cols="50" rows="2" placeholder='leave a comment'></textarea>
                    <input type="submit" class="post_submit">
                </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>