<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon_store/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container" style="border:1px solid black; border-radius:5px; margin-top:30px">
        <h2>Add a new course:</h2>
        <form action='/courses/create' method='post'>
            {% csrf_token%}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description"  class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color:green">add</button>
        </form><br>
        {% if messages %}
        <ul class="messages" style='color:red'>
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>  
    <br>
    <div class="container">
        <h2>Courses:</h2>
        <div id="content_wrapper">
            <table class='table table-bordered table-striped table-hover'>
                <thead>
                    <tr>
                        <th scope="col">Course Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <th scope="row">{{course.name}}</th>
                        <td>{{course.description.summary}}</td>
                        <td>{{course.created_at}}</td>
                        <td>
                           <a href="courses/destroy/{{course.id}}">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>