<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'curr_time/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
    <title>Time Display</title>
</head>
<body>
    <div id="wrapper">
        <p>The crrent date and time:</p>
        <div id="curr_time">
            <h1>{{time}}</h1>
        </div>
    </div>
</body>
</html>