<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <p>I am a <strong><em>coding ninja</em></strong> studying Python and JavaScript with a daily algorithm practice. When when not serving up websites with Flask I'm training for a half marathon, eating really good and then dreaming in code...</p>
</body>
</html>
