<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon Checkout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon_store/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="checkout_wrapper">
        <h3>Thank you for your purchace of : {{request.session.item}}(s)</h3>
        <p>we charged your credit card for ${{request.session.order_total}}</p>
        <p>you have ordered {{request.session.total_number_orders}} times so far and spent ${{request.session.grand_total}} from Amadon.com</p>
        <a href="/amadon">go back</a>
    </div>
</body>
</html>
