<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Gmet</title>
</head>
<body>
    <h1>Welcome to the great number game!</h1>
    <!-- <p>the random number is {{ session['random_num'] }}</p> -->
    <p>I'm thinking of a number between 1 and 100 - take a guess!</p>

   
    {% if session['guess'] > session['random_num'] %}
    <p>Too high...Guess again.</p>
    {% elif session['guess'] < session['random_num'] %}
    <p>Too low...Guess again.</p>
    {% else %}
    <p>Are you a mind reader?!? - you guessed the number!!!</p>
    {% endif %}


    <form action="/guess" method='post'>
    <input type="text" name="guess">
    <input type="submit">
    </form>
    <form action="/reset" method="post">
        <input type="submit" value='reset random'>
    </form>
</body>
</html>