<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_word/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Random Word Generator</title>
</head>
<body>
    <div id="container">
        <h3>Random Password Generator - (attempt # {{request.session.attempt}})</h3>
        <h1>{{result}}</h1>
        <form action="/random_word/generate_new" method='post'>
            {% csrf_token %}
            <input type="submit" id="generate" value="generate">
        </form>
        <form action="/random_word/reset" method='post'>
            {% csrf_token %}
            <input type="submit" id="generate" value="reset counter">
        </form>
    </div>
</body>
</html>