<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Ninjas</title>
</head>
<body>
    <h1>Why ninjas are cool</h1>
    <p> "Their covert methods of waging irregular warfare were deemed dishonorable and beneath the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period, but antecedents may have existed in the 14th century,and possibly in the 12th century (Heian or early Kamakura era)."(wikipedia quote)</p>
    <ul id="ninja_stuff">
        <li>kick Ass</li>
        <li>Covert Agent</li>
        <li>From Fudal eJapan</li>
        <li>Purpose</li>
    </ul>
    <ul id="sub_form">
        <li>espionage</li>
        <li>sabotage</li>
        <li>infiltration</li>
        <li>assassination</li>    
        <li>guerrilla warfare.</li>
    </ul>
</body>
</html>