*{
    margin: 0;
    padding: 0;
}

div{
    margin-left: 200px;
    margin-top: 200px;
}

#error{
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 285px;
    height: 40px;
    text-align: center;
    line-height: 2;
    font-size: 21px;
}

h2{
    border-bottom: 1px solid black;
    width: 250px;
    margin-bottom: 15px;
}
span{
    margin: 5px;
}